* {
	padding: 0px;
	margin: 0;
	background: black;
}

h3 {
	color: red;
	margin-left: auto;
	margin-right: auto;
	margin-top: 275px;
	width: 300px;
	line-height: 30px;
	font-family: 'Lacquer', sans-serif;
}

p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	width: 300px;
	color: white;
	line-height: 20px;
	font-family: 'Lacquer', sans-serif;
}

#eye img{
	margin-left: 465px;
	margin-right: auto;
	margin-top: 300px;
	position: absolute;
	opacity: 100;
}

#mess {
	margin-left: 615px;
    margin-right: auto;
    margin-top: 0;
	text-align: center;
	display: inline-block;
	position: relative;
	font-family: 'Lacquer', sans-serif;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

img{
	opacity:0;
	margin-top: 0px;
}

img:hover{
	opacity: 100;
}
