* {
	padding: 0px;
	margin: 0;
	background: black;
}

h3 {
	color: red;
	margin-left: 550px;
	margin-top: 100px;
	width: 300px;
}

p {
	margin-left: 550px;
	width: 300px;
	color: white;
}

#eye img{
	margin-left: 475px;
	position: absolute;
	opacity: 100;
}

#mess {
	margin-left: 625px;
    margin-right: auto;
	text-align: center;
	display: inline-block;
	position: relative;
	size: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

img{
	opacity:0;
}

img:hover{
	opacity: 100;
}
